[defaults]
# Indica ad Ansible dove trovare l'elenco dei server da gestire
inventory = ./inventory.ini

# Disabilita il controllo rigoroso delle impronte SSH (essenziale in un lab dove i container cambiano spesso IP)
host_key_checking = False

# Ottimizza i percorsi temporanei per l'esecuzione dei comandi
remote_tmp = /tmp